Memberships

* Users should see link for Basic plan on HOME page
* Users should see link for Pro plan on HOME page
* Basic plan link should point to the regular Devise sign_up form
* Pro plan link should point to a custom sign_up form
 -- this will connect Credit card information as well
 
STRIPE INTEGRATION
* Users should have a stripe customer ID in the users table
* Javascript should prevent 'pro' form from submitting when a user fills it out
and should send card info to Stripe - Stripe will return with a CARD token
* Javascript will take the card token + user fields (email, password, plan_id) and submit to 
Rails app for validation. Rails app will note whether Plan1 or Plan 2
* Once validated, Rails will send user info (email + plan_id) + card token to
Stripe server - and Stripe will create a subscription membership and send back
a CUSTOMER token. Rails should save customer token and user info to our DB.

PROFILES
* Each user should have one profile
* User should see link to new profile form when they sign up
* USER should be able to create and view their profile
* User profile should have a profile picture
* User should be able to view ALL user profiles
*** Basic members should see limited profiles
*** Pro members should see contact information as well